/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Configuración base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif; /* Aporta ese toque "Tech/Moderno" del diseño */
}

/* Utilidad para iconos de Google */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  vertical-align: middle;
}

/* Efecto sutil para el fondo del Hero si no carga la imagen */
.hero-gradient {
  background: radial-gradient(circle at 50% 50%, rgba(17, 50, 212, 0.15) 0%, rgba(13, 27, 42, 0) 50%),
              linear-gradient(180deg, rgba(16, 19, 34, 0.8) 0%, #101322 100%);
}
